<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.msob7y.namida">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> A14+/SDK34+ -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <queries>
      <intent>
         <action android:name="android.intent.action.GET_CONTENT" />
         <data android:mimeType="*/*"/>
     </intent>
     </queries>
    <application
        android:label="Namida"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:appCategory="audio"
        android:requestLegacyExternalStorage="true"
        android:supportsPictureInPicture="true"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="false"
    >
		<!-- SPLASH_AUTO_GENERATED START -->
		<activity-alias
            android:enabled="true"
            android:name="com.msob7y.namida.DefaultIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.EnhancedIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_enhanced"
            android:roundIcon="@mipmap/ic_launcher_enhanced"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.HollowIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_hollow"
            android:roundIcon="@mipmap/ic_launcher_hollow"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.MonetIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_monet"
            android:roundIcon="@mipmap/ic_launcher_monet"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.GlowyIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_glowy"
            android:roundIcon="@mipmap/ic_launcher_glowy"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.ShadeIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_shade"
            android:roundIcon="@mipmap/ic_launcher_shade"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.MiniIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_mini"
            android:roundIcon="@mipmap/ic_launcher_mini"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.SpookyIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_spooky"
            android:roundIcon="@mipmap/ic_launcher_spooky"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.NamiweenIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_namiween"
            android:roundIcon="@mipmap/ic_launcher_namiween"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.SpaceIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_space"
            android:roundIcon="@mipmap/ic_launcher_space"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.TiredIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_tired"
            android:roundIcon="@mipmap/ic_launcher_tired"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.EddyIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_eddy"
            android:roundIcon="@mipmap/ic_launcher_eddy"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.NamichinIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_namichin"
            android:roundIcon="@mipmap/ic_launcher_namichin"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>

		<activity-alias
            android:enabled="false"
            android:name="com.msob7y.namida.CutsieIcon"
            android:targetActivity=".NamidaMainActivity"
            android:icon="@mipmap/ic_launcher_cutsie"
            android:roundIcon="@mipmap/ic_launcher_cutsie"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity-alias>
		<!-- SPLASH_AUTO_GENERATED END -->

        <activity
            android:name=".NamidaMainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="Instantiatable">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="music.youtube.com" />
                <data android:host="youtu.be" />
                <data android:pathPrefix="/" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.SEND" />
                <data
                    android:host="patreonauth.msob7y.namida"
                    android:scheme="app" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" android:pathPattern=".*\\.m3u"
                    android:mimeType="*/*" />
                <data android:host="*" android:pathPattern=".*\\.m3u8"
                    android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
        <meta-data android:name="io.flutter.embedding.android.EnableImpeller" android:value="false" />

        <!-- ADD THIS "SERVICE" element -->
        <service android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true" ignore="Instantiatable">
            <intent-filter android:autoVerify="true">
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <!-- ADD THIS "RECEIVER" element -->
        <receiver android:name="com.ryanheise.audioservice.MediaButtonReceiver"
            android:exported="true" ignore="Instantiatable">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".glance.SchwarzReceiver"
          android:exported="true">
          <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          </intent-filter>
          <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/schwarz" />
        </receiver>
        <service
            android:name="NamidaQuickSettingsTile"
            android:exported="true"
            android:label="Namida" 
            android:icon="@drawable/ic_stat_musicnote"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
              android:value="true" />
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
    </application>
</manifest>